@import "navbar.css";
@import "footer.css";

* {
  margin: 0;
}

#about-page {
  border-bottom: 2px solid #F0D14A;
  color: white;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.1fr 0.9fr 0.1fr;
  background-image: url("../pictures/mountains2.jpg");
  background-size: cover;
}

.grid-main {
  display: flex;
  flex-direction: column;
}

/* splitting the main container using css grids */
.title-container {
  flex: 1;
}

.title-container h2 {
  margin-top: 25px;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 0;
  width: 350px;
  color: white;
  border: 1px solid white;
  background-color: rgba(57, 56, 56, 0.1);
}

.carousel-box {
  /* display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 10px;
  height: 60vh;
  width: 60vw; */
}

.yellow-box {
  height: 60px;
  width: 210px;
  border: 1px solid yellow;
  position: relative;
  bottom: 56px;
  left: 227px;
}

.resume-contact {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.resume-contact a {
  text-decoration: none;
  color: white;
  border: 1px solid yellow;
  background-color: rgba(57, 56, 56, 0.8);
  padding: 0px 40px;
  font-size: 20px;
}

.resume-contact a:hover {
  text-decoration: none;
  background-color: aqua;
}


.carousel {
  height: 100%;
  width: 100vw;
  background-color: rgba(57, 56, 56, 0.5);
}

.carousel-caption {
  background-color: rgba(57, 56, 56, 0.9);
  margin: 0 200px;
}

.carousel-caption h3{
  color: lightgoldenrodyellow;
}

.carousel-caption a {
  text-decoration: none;
  color: white; 
}

.carousel-caption a:hover {
  text-decoration: none;
  color: white; 
  background-color: lightskyblue;
}


.car-container img {
  padding: 0 25%;
  height: 100%;
  width: 100vw;
  max-height: 555px;
  }