@import "navbar.css";
@import "main.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  background-color: #EBE8E8;
}


.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.08fr auto;
}

.grid-main {
  display: flex;
}

#about-page {
  border-bottom: 2px solid #F0D14A;
  color: grey;
}