@import "navbar.css";
@import "footer.css";

* {
  margin: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.1fr 0.9fr 0.1fr;
  background-image: url("../pictures/mountains2.jpg");
  background-size: cover;
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.1fr
} 


#about-page {
  border-bottom: 2px solid #F0D14A;
  color: white;
}

/* splitting the main container using css grids */

.title-container h2 {
  margin-top: 50px;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 0;
  width: 350px;
  color: white;
  border: 1px solid white;
  background-color: rgba(57, 56, 56, 0.2);
}

.text-box {
  display: flex;
  align-items: center;
  justify-content: center;

}

.text-box {
  color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: white;
}

/* yellow box placement */

.yellow-box {
  height: 60px;
  width: 210px;
  border: 1px solid yellow;
  position: relative;
  bottom: 56px;
  left: 227px;
}

.resume-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.resume-contact a {
  text-decoration: none;
  color: white;
  border: 1px solid yellow;
  background-color: rgba(57, 56, 56, 0.8);
  padding: 15px 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 20px;
}

.resume-contact a:hover {
  text-decoration: none;
  background-color: aqua;
}

.text-box img {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.text-paragraph {
  padding: 50px;
}