@import "navbar.css";
@import "footer.css";

* {
  margin: 0;
}


.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.1fr 0.8fr 0.01fr;
  background-color: #EBE8E8;
}

.grid-main {
  height: 85%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.table-of-content {
  height: 10%;
  width: 100%;
  background-color: rgba(57, 56, 56, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.table-of-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.table-of-content li {
  float: left;
  font-size: 20px;
  
}

.table-of-content li a{
  display:block;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
}

.table-of-content li a:hover {
  background-color: white;
  cursor: pointer;
}

.posts {  
  background-color: rgba(57, 56, 56, 0.1);;
  /* flex: 1; */
  display: flex;
  overflow: auto;
  justify-content: center;
  width: 80%;
  height: 100%;
}


.box {
  min-height: auto;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  padding: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.post > div {
  height: 300px;
  width: 700px;
}

.text-box {
  box-sizing: border-box;
  border: 1px solid black;
  height: 50%;
  padding: 10px 20px;
  flex: 2;
}

.text-box h2 {
  margin-bottom: 30px;
}

.picture-box {
  box-sizing: border-box;
  flex: 1;
}

.picture-box img{
  width: 100%;
  height: 100%
}


@media only screen and (max-width: 1090px) {
  .post > div {
    width: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .post > div {
    height: 200px;
    width: 400px;
  }

  .text-box {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .post > div {
    height: unset;
    width: 290px;
  }

  .table-of-content li a{
    font-size: 12px;

  }

  .post {
    flex-direction: column;
    width: 100%;
  }


}
