
/* Styling the social media icons with colors */
.github {
  background: #3F4448;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.wordpress {
  background: #016087;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.socials-links ul a {
  display: block;
  text-align: center;
  padding: 14px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Creates the sidebar for hovering */
.socials-links {
  background-color: rgba(57, 56, 56, 0.8);
  border: 1px solid #F9DC5C;
  color: white;
  box-sizing: border-box;
  height: 40px;
  font-size: 20px;
  text-align: center;
  width: 100px;
  position: fixed;
  top: 30%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  z-index: 2;
}

.socials-links h4 {
  padding: 5px;
}

/* styling to hide the social media links when not hovered over */
.socials-links ul.dropdown {
  min-width: 90%; 
  display: none;
  list-style-type: none;
}

/* shows the social media links when hovering over buttons */
.socials-links:hover ul.dropdown {
  display: block;
  position: fixed;
  transform: translateY(-50%);
  right: 0;
}

