@import "navbar.css";
@import "main.css";

* {
  margin: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.14fr auto;
}

.grid-navbar {
  background-color: grey;
} 

.grid-main {
  background-color: lightsteelblue;
  display: flex;
}