@import "navbar.css";
@import "main.css";
@import "footer.css";


* {
  margin: 0;
}

/* Setting CSS Grid Layout */

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.1fr auto 0.01fr;
  background-image: url("../pictures/chris-landingpg.png");
  background-size: cover;
  background-origin: padding-box;
}

.grid-main {
  display: flex;
}

/* Specific css change to navbar button for homepage */

#homepage {
  border-bottom: 2px solid #F0D14A;
  color: white;
}

/* Specific CSS to index.html with background pic */


.black-box h1 {
  background-color: rgba(57, 56, 56, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 60px;
  padding-right: 5px;
  padding-left: 5px;
}

.black-box .text-box .yellow-box {
  border: 1px solid #F9DC5C;
  background-color: rgba(57, 56, 56, 0.3);
  height: 80px;
  width: 250px;
  opacity: 0.5;
  position: relative;
  bottom: 160px;
  left: 50px;
}

.black-box .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding-left: 80px;
}

.black-box .text-box p {
  color: white;
  background-color: rgba(57, 56, 56, 0.7);
  margin-top: 3%;
  font-size: 25px;
  padding-right: 5px;
  padding-left: 5px;
}

.black-box .view-work-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-link{
  margin-left: 30px;
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  border: 1px solid #F9DC5C;
  box-sizing: inherit;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(57, 56, 56, 0.8);
}

.work-link:hover {
  opacity: 0.5;
  background-color: blue;
  cursor: pointer;
}



@media only screen and (max-width: 1135px) {
  .black-box h1 {
    font-size: 45px;
  }
  .black-box .text-box .yellow-box {
    bottom: 135px;
    left: 40px;
    height: 60px;
    width: 200px;
  }
}

@media only screen and (max-width: 920px) {
  .black-box h1 {
    font-size: 30px;
  }

  .black-box .text-box .yellow-box {
    bottom: 110px;
    left: 25px;
    height: 40px;
    width: 130px;
  }
}

@media only screen and (max-width: 685px) {

}

