@import "navbar.css";
@import "footer.css";
@import "main.css";

/* Setting CSS Grid Layout */

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.1fr auto 0.01fr;
  background-image: url("../pictures/chris-landingpg.png");
  background-size: cover;
  background-origin: padding-box;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.black-box {
  height: 80%;
  width: 70%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.grid-main {
  display: flex;
}

/* Specific CSS to index.html with background pic */

.black-box h2 {
  background-color: rgba(57, 56, 56, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 55px;
  padding-right: 5px;
  padding-left: 5px;
}

.black-box .text-box .yellow-box {
  border: 2px solid #F9DC5C;
  box-sizing: border-box;
  background-color: rgba(57, 56, 56, 0.3);
  height: 80px;
  width: 250px;
  opacity: 0.5;
  position: relative;
  bottom: 154px;
  left: 50px;
}

.black-box .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding-left: 80px;
}

.black-box .text-box p {
  color: white;
  background-color: rgba(57, 56, 56, 0.7);
  margin-top: 12%;
  font-size: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.black-box .view-work-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-link{
  margin-left: 30px;
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  border: 1px solid #F9DC5C;
  box-sizing: inherit;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(57, 56, 56, 0.8);
}

.work-link:hover {
  opacity: 0.5;
  background-color: blue;
  cursor: pointer;
}


@media only screen and (max-width: 1165px) {
  .black-box h2 {
    font-size: 50px;
  }
  .black-box .text-box .yellow-box {
    bottom: 136px;
    left: 44px;
    height: 60px;
    width: 215px;
  }
  
  .black-box .text-box {
    padding-left: 0;
  }
}

@media only screen and (max-width: 950px) {
  .black-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .black-box .view-work-link {
    height: 20%;
  }

  .work-link {
    margin-left: 0;
  }

  .black-box .text-box .yellow-box {
    bottom: 171px;
    left: 42px;
  }
}

@media only screen and (max-width: 800px) {

  .black-box .yellow-box { 
    display: none;
  }
}

@media only screen and (max-width: 376px) {
  .black-box h2 {
    font-size: 45px;
  }



  .black-box .text-box p {
    font-size: 25px;
   }

   .work-link {
     margin-left: 0;
     font-size: 24px;
   }
}

