@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.black-box {
  background-color: #1B1A1A;
  height: 80%;
  width: 70%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}







