@import "navbar.css";
@import "main.css";
@import "footer.css";

* {
  margin: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.1fr auto 0.01fr;
  background-color: #EBE8E8;
}

.main-container {
  height: 100%;
}


#projects {
  border-bottom: 2px solid #F0D14A;
  color: grey;
}

.car-container img {
padding: 0 15%;
height: 100%;
width: 100vw;
max-height: 500px;
}


.carousel {
  height: 80%;
  width: 100vw;
  background-color: #24292E;
  padding-top:10px;
}

.carousel-caption {
  background-color: rgba(57, 56, 56, 0.9);
  margin: 0 200px;
}

.carousel-caption h3{
  color: lightgoldenrodyellow;
}

.carousel-caption a {
  text-decoration: none;
  color: white; 
}

.carousel-caption a:hover {
  text-decoration: none;
  color: white; 
  background-color: lightskyblue;
}