@import "navbar.css";
@import "main.css";
@import "footer.css";

* {
  margin: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.1fr auto 0.01fr;
  background-color: #EBE8E8;
}

#black-box {
  background-color: #1B1A1A;
  height: 80%;
  width: 70%;
  display: flex;
  
}

#skills {
  border-bottom: 2px solid #F0D14A;
  color: grey;
}