@import "main.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* style to remove h6 from view as it's only required to fix section header error for html validator */
.blog-content-container h6 {
  display: none;
}

/* Blog content container layout styling */
.blog-content-container {
  height: 85%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Specific CSS relating to table of content for blog page */
.table-of-content {
  height: 10%;
  width: 100%;
  background-color: rgba(57, 56, 56, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.table-of-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.table-of-content li {
  float: left;
  font-size: 20px;
}

.table-of-content li a{
  display:block;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
}

.table-of-content li a:hover {
  background-color: white;
  cursor: pointer;
}

/* CSS relating to blog page content box */
.blog-content {  
  display: flex;
  overflow-y: auto;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.posts-container {
  min-height: auto;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F4F0;
  border: 1px solid black;
  box-sizing: border-box;
}

.post {
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.post > div {
  height: 300px;
  width: 700px;
}

.text-box {
  box-sizing: border-box;
  border: 1px solid black;
  height: 50%;
  padding: 10px 20px;
  flex: 2;
}

.text-box h2 {
  margin-bottom: 30px;
}

.picture-box {
  box-sizing: border-box;
  flex: 1;
}

.picture-box img{
  width: 100%;
  height: 100%
}

/* Responsiveness styling for blog page */

@media only screen and (max-width: 1090px) {
  .post > div {
    width: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .post > div {
    height: 200px;
    width: 400px;
  }

  .text-box {font-size: 10px;}
}

@media only screen and (max-width: 600px) {
  .post > div {
    height: unset;
    width: 250px;
  }

  .table-of-content li a{
    font-size: 10px;
    padding: 16px 5px;
  }

  .post {
    flex-direction: column;
    width: 100%;
    padding: 4px;
  }
}
