@import "main.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* Setting CSS Grid Layout */

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.1fr auto 0.01fr;
  background-image: url("../pictures/chris-landingpg.png");
  background-size: cover;
  background-origin: padding-box;
}

.grid-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS styling to title text including yellow square */

.title-container {
  height: 80%;
  width: 70%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.title-container h2 {
  background-color: rgba(57, 56, 56, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 55px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 500;
}

.title-container .text-box .yellow-box {
  border: 2px solid #F9DC5C;
  box-sizing: border-box;
  background-color: rgba(57, 56, 56, 0.3);
  height: 80px;
  width: 250px;
  opacity: 0.5;
  position: relative;
  bottom: 154px;
  left: 50px;
}

.title-container .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  /* padding-left: 80px; */
}

.title-container .text-box p {
  color: white;
  background-color: rgba(57, 56, 56, 0.7);
  margin-top: 12%;
  font-size: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

/* CSS styling for link to projects page */

.title-container .view-work-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-link{
  margin-left: 30px;
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  border: 1px solid #F9DC5C;
  box-sizing: inherit;
  display: inline-block;
  text-decoration: none;
  background-color: rgba(57, 56, 56, 0.8);
}

.work-link:hover {
  opacity: 0.5;
  background-color: blue;
  cursor: pointer;
}

/* Responsiveness fixes for index page */

@media only screen and (max-width: 1165px) {
  .title-container h2 { font-size: 50px;}

  .title-container.text-box {padding-left: 0;}

  .title-container .text-box .yellow-box {
    bottom: 136px;
    left: 44px;
    height: 60px;
    width: 215px;
  } 
}

@media only screen and (max-width: 950px) {
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .title-container .view-work-link {height: 20%;}

  .work-link {margin-left: 0;}

  .title-container .text-box .yellow-box {
    bottom: 171px;
    left: 42px;
  }
}

@media only screen and (max-width: 800px) {
  .title-container .yellow-box {display: none;}
}

@media only screen and (max-width: 376px) {
  .title-container h2 {font-size: 45px;}

  .title-container .text-box p {font-size: 25px;}

   .work-link {
     margin-left: 0;
     font-size: 24px;
   }

}

