@import "main.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.projects-content-container {
  width: 100vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* .yellow-box {
  border: 2px solid yellow;
  height: 50px;
  width: 200px;
  position: relative;
  bottom: 50px;
  right: 54px;
} */

.title-container{
  font-weight: 500;
  font-size: 40px;
  position: relative;
}
.title-container::before {
  content:'';
  height: 50px;
  width: 200px;
  position: absolute;
  border: 2px solid yellow;
  right: 181px;
}

.projects-list {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  height: 100%;
  width: 300px;
  border: 3px solid #F9DC5C;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10%;
  background-color: rgba(236, 236, 236, 0.6);
}

.box{
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.card{
  position: relative;
  width: 250px;
  height: 250px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.card:before,
.card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: 0;
}
.card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 2;
}

.card:hover .imgBx { bottom: 80px;}

.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
    z-index: 1;
}

.card .details h4{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 12px;
 color: #777;
 text-transform: uppercase;
} 

.card .details h4 span{
font-weight: 500;
font-size: 12px;
color: #f38695;
display: block;
margin-top: 5px;
} 



@media only screen and (min-width: 1500px) {
  .card {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 950px) {
  .card {
    width: 200px;
    height: 200px;
  }
 } 

 @media only screen and (max-width: 500px) {
  .card {
    width: 180px;
    height: 180px;
  }
  .projects-list { height: 70%;}

  .title-container { font-size: 30px; }

  .title-container::before {
    display: none;
  }
 }